body {
    font-family: sans-serif;
    position: relative;
}

.welcome {
    text-align: center;
}

.welcome-msg {
    font-size: 3.2rem;
}

a {
    display: block;
    text-decoration: none;
    color: black;
    margin-top: 0.2rem;
}

details:hover {
    cursor: pointer;
}

summary {
    font-weight: bold;
}

.release-container {
    display: flex;
    gap: 4rem;
    align-items: start;
    justify-content: center;
}

.release-text,
.collated {
    text-align: center;
}

.complete-download-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.collated {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #e599f7;
    color: black;
    font-weight: bold;
    border-radius: 8px;
    transition: all 200ms;
}

.collated:hover {
    background-color: #eebefa;
}

.apple,
.mango,
.pineapple {
    display: inline-block;
}

.copyright {
    position: absolute;
    bottom: -10rem;
    left: 0;
}