body {
    font-family: sans-serif;
    position: relative;
}

.welcome {
    text-align: center;
}

.welcome-msg {
    font-size: 3.2rem;
}

a {
    display: block;
    text-decoration: none;
    color: black;
    margin-top: 0.2rem;
}

details:hover {
    cursor: pointer;
}

summary {
    font-weight: bold;
}

.release-container {
    display: flex;
    gap: 4rem;
    align-items: start;
    justify-content: center;
}

.release-text {
    text-align: center;
}

.apple,
.mango,
.pineapple {
    display: inline-block;
}

.copyright {
    position: absolute;
    bottom: -10rem;
    left: 0;
}